@{
    ViewData["Title"] = "Lisa Lisa Beauty";
}
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">  
            <img src="~/images/612x612Parfume.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>10 Yıldır En iyisi</h5>
                <p>10 Yıldır Piyasada En Güvenilir</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/360_F_532531289_9dx1DeBRUzd5lQG9myDu9hDy5r9LOO6z.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" >
                <h5>En Yeni Lüks Ürünler</h5>
                <p>Şahane Olmak için yeni ürünlerimiz</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/istockphoto-1326570912-612x612.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" >
                <h5>Yeni Gold Serisi</h5>
                <p>Altın rengine uyacak bir efsane</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="w-100" style="background: rgba(217, 187, 194, 1)">
    <div class="mt-5 md-2" style="background: rgba(217, 187, 194, 1)">
    <div class="card-group">
        <div class="card m-1">
            <img src="~/images/snowy.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Yeni Ürünlerimize Göz Atın!</h5>
                <p class="card-text">Yeni 2025 Kış Sezonu için çıkardığımız ürünlere göz atın.</p>
                <p class="card-text"><small class="text-muted">5 Saat Önce</small></p>
            </div>
        </div>
        <div class="card m-1">
            <img src="~/images/trophy.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">LisaLisa Kuruluş Yıldönümü Özel</h5>
                <p class="card-text">LisaLisa'nın 30. Yılına Özel sınırlı sayıda üretilecek ürünlerimize göz atın'</p>
                <p class="card-text"><small class="text-muted">1 Hafta Önce</small></p>
            </div>
        </div>
			<hr />
        <div class="card m-1">
            <img src="~/images/istockphoto-883019542-612x612.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cilt Kremi Faydaları Nelerdir?</h5>
                <p class="card-text">Cildinizde yaşanabilecek olumsuzluklara karşı kendimizi nasıl Koruruz?</p>
                <p class="card-text"><small class="text-muted">2 Hafta Önce</small></p>
            </div>
        </div>
    </div>
	</div>
</div>
<div style="height:5rem">
</div>